* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  /* font-size: 0.7rem; */

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87);
    background-color: #242424; */
  /* background-color: rgba(255, 255, 255);
    color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background-color: #ffffff;
  --text-color: #000000;
  --grey-text-color: #ccc;
  --primary-color: #1a8917;
  --danger-color: red;
}

[data-theme="light"] {
  --background-color: #fff;
  --text-color: #000;
  --border-color: #f2f2f2;
  --primary-color: #1a8917;
  --danger-color: red;
  --grey-text-color: #757575;
}

[data-theme="dark"] {
  --background-color: #000;
  --text-color: #ffffff;
  --border-color: rgb(63, 63, 63);
  --primary-color: #24b11f;
  --danger-color: red;
  --grey-text-color: #999999;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

#my-app {
  margin: 0;
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  /* font-family: "HelveticaNeue" "CharterRegular"; */
  transition:
    background-color 1s,
    color 0.1s;

  svg {
    color: var(--text-color);
  }

  .main-container {
    width: 70%;
    margin: 2rem auto;
  }

  @media (max-width: 500px) {
    .main-container {
      width: 100%;
    }
  }
}

/* Will use later, in "Why I chose Code to render video?" section */
.splash {
  width: 500px;
  height: 500px;
  background:
    repeating-conic-gradient(#00f 0 3%, #0000 0 11%),
    repeating-conic-gradient(#0000 0 5%, #00f 0 7%) 50% / 60% 60%,
    repeating-conic-gradient(#0000 0 7%, #00f 0 9%) 50% / 70% 70%,
    repeating-conic-gradient(#0000 0 11%, #00f 0 13%) 50% / 80% 80%,
    radial-gradient(#00f 22%, #0000 0),
    #fff;
  background-repeat: no-repeat;
  filter: blur(20px) contrast(50);
  box-shadow: 0 0 0 50px #fff;
}
